$infoBorderSize: 2px;
$levelIndentation: 20px;

.comments-holder-container {
	clear: both;

	.field {
		clear: left;
	}

	.num,
	.author {
		font-size: 1.3em;
	}

	.num {
		color: #999;
		margin-right: 5px;
	}

	.num-total {
		line-height: 40px;
		margin-bottom: 0;
	}

    #moderated {
        border: solid #999 1px;
        padding: 20px;
        font-style: italic;
    }

	.comments-list {
		margin: 0;
	}

	.comment-count {
		margin: 15px 0;
	}

	// The comment form
	.commenting-area {
		margin-top: 50px;

		label.left{
			font-weight: normal;
		}
	}

	.commenting-rss-feed {
		margin-top: 4em;
		text-align: right;

		.action-links {
			margin: 20px 0 10px;

			li {
				display: inline;
				list-style-type: none;
				margin-left: 20px;

				&:first-child {
					margin-left: 0;
				}

				&.comment-reply-action {
					float: right;
				}
			}

			a {
				background-image: none;

				&::first-letter {
					text-transform: capitalize;
				}
			}
		}
	}

	.no-comments-yet {
		display: inline-block;
		margin-top: 10px;
	}
}

.commentWrapper {
    background: #f7f7f7;
    border: 1px solid #ddd;
}

// A published comment
.comment {
	clear:both;
	list-style-type: none;
	overflow: hidden;
	padding: 20px 0 20px 0;
	position: relative;

	&.author-comment {
		&:after {
			content: 'Author';
			float: right;
			position: absolute;
			top: 1.5em;
			right: 0.5em;
			font-size: 1em;
			font-weight: bold;
		}

		> .comment-text {
			border: 1px solid blue;
		}

	}

	.commentWrapper.spam {
	   border: $infoBorderSize dashed red;
	}

    img.gravatar {
        float: left;
        margin: 20px 0 20px 20px;
        border: solid #999 1px;
    }

	.comment-text {
		//background-color: #fff;
		//border: 1px solid #ddd;
		box-shadow: none;
		margin: 0;
		padding: 0 20px 0 20px;

        //min-height: 130px;
		//white-space: pre;
		//white-space: pre-wrap;
		//white-space: pre-line;
		//word-wrap: break-word;
        position: relative;

		p:last-child {
			margin-bottom: 0;
		}
	}

    .comment-text.hasGravatar {
        // leave enough space on the left for the default gravatar size
        padding: 20px 20px 20px 120px;

        // Ensure there is enough vertical space for the Gravatar
        // 80px default image size + 2x20px vertical padding
        //min-height: 120px;
    }

    .comment-text .commentContent {
        padding-bottom: 40px;
    }

    .comment-text .replyButtonContainer {
        padding-bottom: 0px;
        margin: 0px;
        position: absolute;
        right: 20px;
        bottom: 20px;


        a {
            float: none;
            margin: 0px;
        }
    }

    .comment-text .comment-reply-link {
        float: none;
    }

	.date {
		font-size: 16px;

        color: #999;

		&:before {
			content: '\0000a0\0000a0\0000a0\0000a0';
		}
	}

    .commentWrapper.unmoderated {
       border: $infoBorderSize dashed orange;
    }

	.info {
		margin-bottom: 10px;
	}

	&.spam .comment {
		//border: $infoBorderSize dashed orange;
		//border-radius: 4px;
		//padding: 2.5em 1em 1em;
	}

    .comment-reply-form-holder {
        padding: 0 10px 100px 10px;
    }

	.comment-replies-container {
		clear: both;
		padding-left: $levelIndentation;
		margin: 0px 0 0 0;
		//border-left: 1px dashed #999;


		.comment-replies-holder {
			padding: 0 0 0 10px;
		}
	}
}

.comments-list.root-level {
	margin-left: 0;
}

.comment-reply-link {
	float: right;
}

.comment-moderation-options {
	float: none;
}

.comment-action-links {
	margin: 0px;
    clear: both;

	a:not(:last-child) {
		margin-right: 12px;
	}
}

.commenting-rss-feed ul {
	list-style: none;
}
